*{
    margin: 0;
    color: #fff;
}
hr {
    margin: 0.5rem 0;
}
.weather{
    height: 100vh;
    width: 100%;
    padding: 30px 50px;
    background-color: aqua;
    background-image: url('img/weather-img-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.w-wrapper{
    width: 100%;
    height: 100%;
    padding: 2em 5em;
    -webkit-backdrop-filter: blur(9px);  /* Safari 9+ */
    backdrop-filter: blur(9px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
    /* background-image: url('weather-img-1.jpg'); */
}
.top-wrapper{
        position: relative;
    left: -2em;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.search-wrapper{
    width: 15em;
position: relative;
}
.search-wrapper input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: unset;
    background-clip: padding-box;
    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    border: 1px solid rgb(228 228 228 / 15%);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-wrapper input:focus-visible{
    border: 1px solid rgba(228, 228, 228, 0.432);
    outline: none;
}
.current-box{
    align-self:center;
    /* margin-bottom: 100px; */
}
.current-box .temp{
    font-size: 4.7em;
    font-weight: 700;
    color: white;
}
.current-box .deg-far{
    font-size: .45em;
    top: -.9em;;
    
}
.glassy-card{
    padding: 1.5em 1em;
    -webkit-backdrop-filter: blur(10px);  /* Safari 9+ */
    backdrop-filter: blur(10px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 
}
.forecast-content>.d-flex{
    justify-content: space-between;
    align-items: center;
}
.forecast-content img{
    width: 54px;
}
.forecast-content .day {
    flex-basis: 85px;
}
.search-icon{
    position: absolute;
    top: 5px;
    right: 5px;
}
.giphy{
    width: 100%;
}

/* switch  */
.toggle {
    --toggle-width: 55px;
    --toggle-height: 30px;
    --toggle-padding: 3px;
    
    --toggle-outer-default: #ddd;
    --toggle-outer-active: #1c89f0;
    --toggle-inner-default: #fff;
    --toggle-inner-active: #fff;
    
    --toggle-transition: 200ms ease-out;
  }
  
  /* outer */
  .toggle label {
    position: relative;
    display: inline-block;
    
    width: var(--toggle-width);
    height: var(--toggle-height);
    
    background-color: var(--toggle-outer-default);
    border-radius: 100vw;
    
    cursor: pointer;
    transition: background-color var(--toggle-transition);
  }
  
  .toggle:focus-within label {
    outline: 0.1em solid rgb(248, 242, 242);
    /* outline-offset: 0.2em; */
  }
  
  .toggle input:checked + label {
    background-color: var(--toggle-outer-active);
  }
  
  /* inner circle */
  .toggle label::before {
    content: "";
    position: absolute;
    top: var(--toggle-padding);
    left: var(--toggle-padding);
    bottom: var(--toggle-padding);
    
    aspect-ratio: 1 / 1;
    
    background-color: var(--toggle-inner-default);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transition: var(--toggle-transition);
    transition-property: background-color, transform;
  }
  
  .toggle input:checked + label::before {
    background-color: var(--toggle-inner-active);
    transform: translateX(
      calc(var(--toggle-width) - var(--toggle-height))
    );
  }
  

  
  /* @see https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
  .sr-only {
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
      -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;
  }
  
  /* on and off text */
  .toggle .on-text,
  .toggle .off-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    color: #fff; /* Text color */
    font-size: 14px; /* Adjust font size as needed */
    user-select: none; /* Prevent text selection */
  }
  
  .toggle .on-text {
    left: 0;
  }
  
  .toggle .off-text {
    right: 0;
  }
  
  /* Adjust the padding to make space for the text */
  .toggle label {
    padding: 0 2px;
  }
  